<!DOCTYPE html>
<html lang="en-US">
<head>
    <script type='text/javascript' charset="UTF-8" src='angular.js'></script>
    <script type='text/javascript' charset="UTF-8" src='main.js'></script>
    
</head>
<body ng-app="mainApp" ng-controller="mainCtrl">
    
    <div>
        <button ng-click="press()">single string</button>
    </div>

    <div ng-repeat="x in raw_array">
            <!-- {{name}} -->
            <input ng-model="x">                         
    </div>

    <div ng-repeat="x in raw_array">
        <!-- <input ng-model={{x}}> -->
    </div>

</body>
</html>


