<!DOCTYPE html>
<html lang="en-US">
<head>

    <!-- load UI libs -->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <script type="text/javascript" src="script/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="script/materialize.min.js"></script>

    <!-- load other modules -->
    <script type='text/javascript' charset="UTF-8" src='script/angular.js'></script>

    <!-- load local libs -->
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <script type='text/javascript' charset="UTF-8" src='script/main.js'></script>
    
</head>
<body ng-app="mainApp" ng-controller="mainCtrl">

    <!-- header -->
    <ul id="saveSet" class="dropdown-content">
        <li><a ng-click="outputSet(true)">minified json</a></li>
        <li><a ng-click="outputSet(false)">standard json</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">#</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a ng-click="inputSet(true)">Read</a></li>
            <li><a ng-click="inputSet(false)">Translate</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" data-activates="saveSet">Save As JSON</a></li>
            </ul>
        </div>
    </nav>

    <!-- text area -->
    <div class="row">
        <div class="col s6">
            <h5>Raw Array</h5>
            <textarea class=" materialize-textarea" ng-model="input_array">{{display_array}}</textarea>
        </div>
        <div class="col s6">
            <h5>Compiled Array</h5>
            <textarea class="textfield" ng-model="display_array"></textarea>
        </div>
        
    </div>

    <!-- table -->
    <table class="bordered">
        <thead>
            <tr>
                <th ng-repeat="th in title">{{th}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="th in raw_array">
                <td ng-repeat="td in th track by $index">{{td}}</td>
            </tr>
        </tbody>
    </table>
    



</body>
</html>


